<plist version="1.0">
<array>
<dict>
        <key>OpenSourceProject</key>
        <string>SQLite</string>
        <key>OpenSourceVersion</key>
        <string>3.4.0</string>
        <key>OpenSourceURL</key>
        <string>http://www.sqlite.org/sqlite-3.4.0.tar.gz</string>
        <key>OpenSourceSHA1</key>
        <string>e3b4711a619a5af1ccb1232c76eb7534d25ab431</string>
        <key>OpenSourceImportDate</key>
        <string>2007-07-03</string>
        <key>OpenSourceModifications</key>
        <array>
                <string>aclocal.m4</string>
                <string>config.guess</string>
                <string>config.sub</string>
                <string>configure</string>
                <string>ltmain.sh</string>
                <string>Makefile.in</string>
                <string>Makefile_orig.in</string>
		<string>sqlite3.def</string>
                <string>tclinstaller.tcl</string>
		<string>src/btree.c</string>
		<string>src/main.c</string>
		<string>src/pager.c</string>
		<string>src/pragma.c</string>
		<string>src/sqliteInt.h</string>
		<string>src/vacuum.c</string>
		<string>src/vdbe.c</string>
        </array>
        <key>OpenSourceLicense</key>
        <string>Public Domain</string>
        <key>OpenSourceLicenseFile</key>
        <string>SQLite.txt</string>
</dict>
</array>
</plist>

