Package: SQLite
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Hwaci
Version: 3.3.13
URL: http://www.sqlite.org/
Build-Depends: build-base
Description: SQLite public domain database
